<!DOCTYPE html>
<html>
<head>
  <title>Tabletop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Tabletop </h1>
<h3> The place to see the tabletop gaming collections of you and your friends </h3>
<%= yield %>

</body>
</html>
